<!-- User Profile view -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User profile</title>
</head>
<body>
	<!-- Show user info -->
	<!-- Edit user (if session user) -->
	<!-- Delete account (if session user) -->
</body>
</html>