<%= include layouts/head %>

<h1>Server-side scripting <%= include task3/title %></h1>
<ul>
  <li><a href="/task3/title">Title</a></li>
  <li><a href="/task3/boolean">Boolean</a></li>
  <li><a href="/task3/loop">Loops</a></li>
</ul>

<%= include layouts/foot %>