<header>
	<h1 class="page-title"><%= title %> </h1>
	<% if(isBlogPost){ %>
	<p class="page-subtitle"><%= subTitle %></p>
	<% } %>
</header>

<main>
	<p>I Boo Lean. Return <a href="../task3/">to task 3</a></p>
</main>