<h1><%= title %></h1>

<% if (blogPosts) {
	for (var post in blogPosts) { %>
<article>
	<header class="blogpost-header">
		<h2><%= blogPosts[post].title %></h2>
		<time><%= blogPosts[post].date %></time>
	</header>
	<div class="blogpost-body">
		<p><%= blogPosts[post].excerpt %></p>
	</div>
</article>
<% 	}
} else { %>
<p>No posts here buddy...</p>
<% } %>
