<!-- Register -->
<div class="register">
	<form method="post" action="#register">
		<label for="username">Username</label>
		<input id="username" name="username" type="text">

		<label for="email">E-mail</label>
		<input id="email" name="email" type="email">

		<label for="password">Password</label>
		<input id="password" name="password" type="password">

		<label for="rePassword">Repeat password</label>
		<input id="rePassword" name="rePassword" type="password">

		<input type="submit" value="register">
	</form>
</div>