<!DOCTYPE html>
<html lang="en-GB">
<%= include _base/head %>
<body>
	<header>
		<h1>Phups</h1>
		<p>Photo Upload Service</p>
		<div>
			<a href="#login">Login</a>
		</div>
	</header>
	<p>
		Oh hi!
	</p>
	<div class="button-container">
		<button>Upload new photo</button>
	</div>
	<div class="photo-container">
		<h2>Photo's container</h2>
		<figure>
			<img src="photo/default.jpg" alt="">
		</figure>
		<figure>
			<img src="photo/default.jpg" alt="">
		</figure>
		<figure>
			<img src="photo/default.jpg" alt="">
		</figure>
		<figure>
			<img src="photo/default.jpg" alt="">
		</figure>
		<figure>
			<img src="photo/default.jpg" alt="">
		</figure>
		<figure>
			<img src="photo/default.jpg" alt="">
		</figure>
	</div>
	<footer>
		<div>
			Sitemap // navigation
		</div>
		<small>
			Legal stuff &copy; 2015 Roel Antonisse
		</small>
	</footer>
</body>
</html>